[Desktop Entry]
Name=Azureus
Comment=BitTorrent client
Comment[pl]=Klient BitTorrenta
GenericName=BitTorrent Client
GenericName[pl]=Klient BitTorrenta
Exec=Azureus
Icon=Azureus
Terminal=false
Categories=Network;FileTransfer;P2P;GTK;Java;
Type=Application
MimeType=application/x-bittorrent;application/x-torrent;
# vi: encoding=utf-8
